<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>servlet.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <display-name>DASHBOARD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminservlet</display-name>
    <servlet-name>adminservlet</servlet-name>
    <servlet-class>servlet.adminservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminservlet</servlet-name>
    <url-pattern>/adminservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutservlet</display-name>
    <servlet-name>logoutservlet</servlet-name>
    <servlet-class>servlet.logoutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutservlet</servlet-name>
    <url-pattern>/logoutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userservlet</display-name>
    <servlet-name>userservlet</servlet-name>
    <servlet-class>servlet.userservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userservlet</servlet-name>
    <url-pattern>/userservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>feedbackservlet</display-name>
    <servlet-name>feedbackservlet</servlet-name>
    <servlet-class>servlet.feedbackservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedbackservlet</servlet-name>
    <url-pattern>/feedbackservlet</url-pattern>
  </servlet-mapping>
</web-app>